.active-counter__header{
    display: grid;
    padding:0;
    margin:0;
    grid-auto-columns: 0.25fr 5fr 0.25fr;
    grid-auto-flow: column;
  align-items: center;
}
.active-counter__header-title{
    padding:0;
    margin:0
}
.active-counter__header-close-button-item{
   
}