@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root {
  --colorPrimary: #c8b7a6;
  --colorPrimaryVariant: #b6c199;
  --colorSecondary: #7d94b5; /* Cards Buttons */
  --colorSecondaryVariant: #c29591; /* Nav Bar, Modal Header*/
  --colorBackground: #cccccc; /*Page Background*/
  --colorSurface: #d5bfbf;
  --colorError: red;
  --colorOnImages: #703f37;
  --colorOnPrimary: #703f37;
  --colorOnSecondary: #703f37;
  --colorOnPrimaryVariant: #703f37;
  --colorOnSecondaryVariant: #703f37;
  --colorOnBackground: #703f37;
  --colorOnSurface: #703f37;
  --colorOnError: #703f37;

  --navHeight: 4rem;
}

#content {
  width: 100%;
  height: 100%;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: var(--colorBackground);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
