.dashboard-item {
  margin-bottom: 0.5rem !important;
  padding: 0;
}

.dashboard-item__header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.dashboard-item__settings-button {
  padding: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: medium;
  text-align: center;
}
.dashboard-item__remove-button {
  padding: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  font-size: medium;
  margin: 0;
}
.dashboard-item__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
